{% extends 'base.html' %} {% block content %}
<div class=" p-3">
  
<h1 class="text-warning text-center text-block">Exam Tracker</h1>
    
</div>
  
  

 
<h5 class="text-warning">Username:</h5>
<p>{{name}}</p>

<h5 class="text-warning">Class:</h5>
<p>{{class}}</p>

<div id="exam-table" class="container-fluid d-flex">
</div>
  
  
  <br />


<div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content bg-warning">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Exam</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="form" onsubmit="return false;">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="name" class="col-form-label">Name:</label>
                      <input type="text" class="form-control bg-dark text-light" id="name" name="name"></input>
                  </div>
                  <div class="mb-3">
                      <label for="grade" class="col-form-label">Grade:</label>
                      <input type="number" class="form-control bg-dark text-light" id="grade" name="grade"></input>
                  </div>
                  <div class="mb-3">
                      <label for="description" class="col-form-label">Description:</label>
                      <textarea class="form-control bg-dark text-light" id="description" name="description"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-dark" id="button_add" data-bs-dismiss="modal">Add Exam</button>
          </div>
      </div>
  </div>
</div>

<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Exam by AJAX
</button>

<footer class="footer"></footer>
<div id="wrap">
  <div id="main" class="container clear-top">
    <p><div class="position-relative">
      <div class="position-absolute top-100 start-50 translate-middle">
      <p class=text-warning-emphasis>Last login session: {{ last_login }}</p>
    </div>
  </div></p>
  </div>
</div>
</footer>
    
<script>
async function getItems() {
  return fetch("{% url 'main:show_json' %}").then((res) => res.json())
}
  
  async function refreshItems() {
      const examTable = document.getElementById("exam-table")
      examTable.innerHTML = ""
      const items = await getItems()

      items.forEach(item => {
        const card = document.createElement("div")
        card.classList.add("card", "m-2", "bg-warning")
        card.style.maxWidth = "16rem"
        card.innerHTML = `<div class="card-body">
    <div class="text-center">
    <div class="badge text-bg-light text-wrap" style="width: 6rem;">
    <h5 class="card-title text-warning">${item.fields.name}</h5>
    </div>  
    </div>
    <p class="card-text">Grade: ${item.fields.grade}</p>
    <p class="card-text">Description: ${item.fields.description}</p>
    <p class="card-text">Date added: ${item.fields.date_added}</p>
 
    <a href="/edit-item/${item.pk}" class="btn btn-outline-light text-center">Edit</a>
    <a href="/delete/${item.pk}" class="btn btn-outline-light text-center">Delete</a>
  </div>`

        examTable.appendChild(card)
      });

}
refreshItems()
  
function addItem() {
              fetch("{% url 'main:add_item_ajax' %}", {
                  method: "POST",
                  body: new FormData(document.querySelector('#form'))
              }).then(refreshItems)
  
              document.getElementById("form").reset()
              return false
          }
  document.getElementById("button_add").onclick = addItem
  </script>

{% endblock content %}